.content {
  padding: 46px 78px 46px 20px;
  margin-left: 50px;
  width: 100%;

  &__header {


    margin-bottom: 55px;

  }

  &__table {
    border: 0.1px solid $color-default-white;
  }



  @include tablet {
    padding: 10px;


  }

  @include mobile {
    padding: 5px;

    &__header {
      padding: 10px;
    }


  }
}
