.content {
  flex: 1;

  &__header {


    margin-bottom: 55px;


    &__title {
      margin: 0;
    }
  }



  @include tablet {
    padding: 10px;


  }

  @include mobile {
    padding: 5px;

    &__header {
      padding: 10px;
    }


  }
}
