.sidebar {
  width: 306px;
  background-color: $color-default-white;
  color: $color-default-black;

  &__title {
    margin-bottom: 20px;
    display: flex;
  }

  &__logo {
    display: inline-block;
    margin-right: 14px;
  }

  &__menu {
    list-style: none;
    padding: 0;
  }

  &__link {
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: $color-font-link;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url("../img/svg/arrow.svg");
      right: 10px;
    }

    &:hover {
      color: $color-default-white;
      background-color: $color-background-paginaton--active;

      &::after {
        background-image: url("../img/svg/arrow-white.svg");
      }


    }
  }
    &__icon {
      display: inline-block;
      margin-right: 14px;
    }

    &__manager,
    &__rating,
    &__experience {
      margin: 5px 0;
    }

    @media (max-width: 680px) {
      width: 100%;
      height: auto;
    }
  }

