//colors

$color-default-black: #000000;
$color-default-white: #FFFFFF;

$color-background : #EEEEEE;
$color-background-light: #F9FBFF;

$color-text-default: #292D32;
$color-text-inactive: #B5B7C0;
$color-text-focus: #3498db;

$color-font-link: #9197B3;
$color-font-link--hover: #FFFFFF;


$color-font-status--active: #008767;
$color-font-status--inactive: #DF0404;


$color-background-status--active:#16C098;
$color-background-status--inactive:#FFC5C5;


$color-paginaton-font-active: #FFFFFF;
$color-paginaton-background-active: #5932EA;
$color-pagination-font-default: #404B52;
$color-pagination-backgrounf-default: #F5F5F5;


// sizes
$desktop-max: 1440px;
$desktop: 1040px;
$tablet: 768px;
$mobile: 320px;
$max-desktop: 1440px;
