//colors

$color-default-black: #000000;
$color-default-white: #FFFFFF;

$color-background : #EEEEEE;

$color-text-default: #292D32;
$color-text-inactive: #B5B7C0;

$color-font-link: #9197B3;
$color-font-link--hover: #FFFFFF;


$color-font-status--active: #008767;
$color-font-status--inactive: #DF0404;


$color-background-status--active:#16C098;
$color-background-status--inactive:#FFC5C5;


$color-font-paginaton--active: #FFFFFF;
$color-background-paginaton--active: #5932EA;
